.git/
.gitignore
.venv/
__pycache__/
*.pyc
.env
*.db
.idea
.vscode
node_modules
*.md
esoft_front/static
.dockerignore
Dockerfile
docker-compose.yml
nginx.conf
__pycache__/database.cpython-314.pyc
__pycache__/main.cpython-314.pyc
esoft_front/js/ai-vitrina.js
nginx.conf
