# Игнорировать папки сборки и скомпилированные файлы
build/
dist/
*.pyc
*.o

# Игнорировать кэш и временные файлы
.DS_Store
Thumbs.db
node_modules/
venv/
env/

# Игнорировать файлы конфигурации среды и пароли
.env
*.local

# Игнорировать системные папки IDE
.idea/
.vscode/

# Игнорировать логи
logs/
*.log

parser/image/

esoft_front/static/